.container, .footer-text{
    text-align: center;
}
html {
    height: 100%;
    background-image: url(background_images/Clarence.svg);
    /* background-image: linear-gradient(to right bottom, #0f117a, #07258a, #003799, #0048a7, #0059b5, #006bc2, #007dce, #008fd9, #00a6e3, #00bce0, #00cfd2, #00e0be); */
  }
  
body {
    display: flex;
    flex-direction: column;
    font-family: "Helvetica Neue", Arial, sans-serif;
  }
  
header {
    background-color: #ddf516;
}
i {
    color: #12e2a3;
    padding: 2rem;
}
a {
    text-decoration: none;
}
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

